<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <!--<p>Linux system administrator, technology enthusiast and knowledge seeker who is always pursuing excellence and information.</p>-->
    <p>You never learn anything by doing it right.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
